<h1>Listing peer_reviews</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th>Miniproject</th>
    </tr>
  </thead>

  <tbody>
    <% @peer_reviews.each do |peer_review| %>
      <tr>
        <td><%= peer_review.name %></td>
        <td><%= peer_review.score %></td>
        <td><%= link_to peer_review.miniproject.name, miniproject_path(peer_review.miniproject.identifier) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

