<h1>
  <%= @questionnaire.name %>
</h1>

<%= link_to 'Copy me', copy_questionnaire_path(@questionnaire) %>

<%= link_to 'Edit', edit_questionnaire_path(@questionnaire) %> |
<%= link_to 'Back', questionnaires_path %>
