<h1>List submissions</h1>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
<script type="text/javascript">
  function SubmissionListController($scope, $http) {
    $http.get('/submissions.json').success( function(data, status, headers, config) {
      $scope.submissions = data;
    });


    $scope.search = {student_number:'', course_id:<%=@course.id%>}
  }
</script>
<div ng-app ng-controller="SubmissionListController">
  search: <input ng-model="search.student_number" />
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Studentnumber</th>
          <th>Week</th>
          <th>Points</th>
          <th>Hours spent</th>
          <th>Done</th>
          <th>Exercises</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="submission in submissions | filter:search">
        <td>{{submission.id}}</td>
        <td>{{submission.student_number}}</td>
        <td>{{submission.week}}</td>
        <td>{{submission.points}}</td>
        <td>{{submission.hours}}</td>
        <td>{{submission.total}}</td>
        <td>{{submission.exercises_at_this_week}}</td>
    </li>
      </tbody>
    </table>

</div>
