<!DOCTYPE html>
<html>
<head>
  <title>Ohtustats</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <%= csrf_meta_tags %>
</head>
<body>

<div class="page">
  <%= yield %>
</div>

</body>
</html>
